.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 80px;
   font-style: italic;
   height: 100vh;
   height: calc(100vh - 30px); 

   margin: auto;
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   overflow: auto;
   background: linear-gradient(315deg, rgba(255, 255, 0) 28%, rgba(48, 238, 226, 1) 68%, rgba(255, 255, 0) 88%);
   /*rgb(111, 163, 216) 38%,*/
   animation: gradient 12s ease infinite;
   background-size: 400% 400%;
   background-attachment: fixed;
  }

  .title {
   font-weight: 700;
   font-size: 48px;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 150px;
   align-content: center;
   color: rgb(56, 173, 43);
   background-color:aliceblue;
   padding: 20px;
   border-radius: 20px;
  }

 .homeText{ 
 font-size: 26px;
 color: #006400;
 max-width: 860px;
}



@keyframes gradient {
   0% {
      background-position: 0% 0%;
   }

   50% {
      background-position: 100% 100%;
   }

   100% {
      background-position: 0% 0%;
   }
}

.wave {
   background: rgb(255 255 255 / 25%);
   border-radius: 1000% 1000% 0 0;
   position: fixed;
   width: 200%;
   height: 12em;
   animation: wave 10s  linear infinite;
   transform: translate3d(0, 0, 0);
   opacity: 0.8;
   bottom: 0;
   left: 0;
   z-index: -1;
}

.wave:nth-of-type(2) {
   bottom: -1.25em;
   animation: wave 10s linear reverse infinite;
   opacity: 0.8;
}

.wave:nth-of-type(3) {
   bottom: -2.5em;
   animation: wave 5s -1s reverse infinite;
   opacity: 0.9;
}

@keyframes wave {
   2% {
      transform: translateX(1);
   }

   25% {
      transform: translateX(-25%);
   }

   50% {
      transform: translateX(-50%);
   }

   75% {
      transform: translateX(-25%);
   }

   100% {
      transform: translateX(1);
   }
}