.contact__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 16px;
    border: 1px solid rgba(158, 158, 158, 0.25);
    border-radius: 4px;

    @media (min-width: 600px){
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
    }
}